.bg-lightblue {
    background-color: #99d9ea;
}
.text-black {
    color: #000;
}
.table-index {
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
}
.table-product {
    border: #00a2e8 5px solid;
}
.cell-title {
    width: 75%;
    padding-left: 10px;
}
.cell-thumbnail {
    width: 500px;
    height: 15vw;
}
.cell-name {
    height: 75px;
}
.cell-price {
    height: 40px;
}
.btn-distance {
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-actions-divide {
    width: calc(100% / 3 - 4px);
}
.btn-product-actions {
    width: 250px;
    padding: 15px;
}
.margin-top-5px {
    margin-top: 5px;
}
.col-span-max{
    column-span: all;
}
.width-max {
    width: 100%;
}
.width-30 {
    width: 30%;
}
.width-25 {
    width: 25%;
}
.width-20 {
    width: 20%;
}
.width-15 {
    width: 15%;
}
.width-10 {
    width: 10%;
}
.width-5 {
    width: 5%;
}
.width-500px {
    width: 500px;
}
.width-350px {
    width: 350px;
}
.text-error {
    font-weight: bold;
    color: #F00;
}
.product-card-distance {
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-card:hover {
    text-decoration: none;
}